@import 'tailwindcss';

@layer base {
  :root {
    --yellow-sun-glow: #e2cf81;
    --yellow-golden-sand: #ddb05d;
    --yellow-harvest-wheat: #c8aa6e;
    --yellow-amber-honey: #c28f2c;
    --yellow-bronze-caramel: #a57a3a;
    --yellow-vintage-mustard: #706547;
    --yellow-burnt-oak: #67471f;

    --white: #ffffff;
    --black: #000000;

    --neutral-50: #f4f4f4;
    --neutral-100: #efefef;
    --neutral-200: #dfdfdf;
    --neutral-300: #cecece;
    --neutral-400: #9d9d9d;
    --neutral-500: #6d6d6d;
    --neutral-600: #4c4c4c;
    --neutral-700: #3a3a3a;
    --neutral-800: #202020;
    --neutral-900: #111111;
    --neutral-950: #040404;

    --red-50: #ffe4e4;
    --red-100: #ffd4d4;
    --red-200: #febcbd;
    --red-300: #fb9798;
    --red-400: #f86374;
    --red-500: #f03647;
    --red-600: #e80029;
    --red-700: #c3081f;
    --red-800: #a3071e;
    --red-900: #89171f;
    --red-950: #4f060d;

    --sky-50: #eafeff;
    --sky-100: #daf9ff;
    --sky-200: #b4efff;
    --sky-300: #77dcff;
    --sky-400: #32c8ff;
    --sky-500: #08b0f0;
    --sky-600: #007dd2;
    --sky-700: #00529d;
    --sky-800: #01528c;
    --sky-900: #064362;
    --sky-950: #02383f;

    *,
    *::before,
    *::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      /* Creating animations for dark mode. */
      transition:
        background-color 0.3s,
        color 0.3s,
        border 0.3s,
        fill 0.3s;
    }

    *:disabled {
      cursor: not-allowed;
    }

    body {
      width: 100%;
      min-height: 100vh;
      overflow-x: hidden;
    }

    /* TODO (Ky Tran): Set up font family for button and input. */
    button {
      cursor: pointer;
    }

    button,
    input,
    select {
      outline: none;
      border: none;
      background-color: transparent;
    }

    img {
      max-width: 100%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    ul {
      list-style: none;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }
  }
}

@theme inline {
  --breakpoint-xxs: 24rem;
  --breakpoint-xs: 30rem;

  --color-yellow-sun-glow: var(--yellow-sun-glow);
  --color-yellow-golden-sand: var(--yellow-golden-sand);
  --color-yellow-harvest-wheat: var(--yellow-harvest-wheat);
  --color-yellow-amber-honey: var(--yellow-amber-honey);
  --color-yellow-bronze-caramel: var(--yellow-bronze-caramel);
  --color-yellow-vintage-mustard: var(--yellow-vintage-mustard);
  --color-yellow-burnt-oak: var(--yellow-burnt-oak);

  --color-white: var(--white);
  --color-black: var(--black);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-950: var(--red-950);

  --color-sky-50: var(--sky-50);
  --color-sky-100: var(--sky-100);
  --color-sky-200: var(--sky-200);
  --color-sky-300: var(--sky-300);
  --color-sky-400: var(--sky-400);
  --color-sky-500: var(--sky-500);
  --color-sky-600: var(--sky-600);
  --color-sky-700: var(--sky-700);
  --color-sky-800: var(--sky-800);
  --color-sky-900: var(--sky-900);
  --color-sky-950: var(--sky-950);

  --font-inter: var(--font-inter);

  --font-riot-regular: var(--font-riot-regular);
  --font-riot-italic: var(--font-riot-italic);
  --font-riot-bold: var(--font-riot-bold);
  --font-riot-bold-italic: var(--font-riot-bold-italic);

  --font-spiegel-regular: var(--font-spiegel-regular);
  --font-spiegel-regular-italic: var(--font-spiegel-regular-italic);
  --font-spiegel-semibold: var(--font-spiegel-semibold);
  --font-spiegel-semibold-italic: var(--font-spiegel-semibold-italic);
  --font-spiegel-bold: var(--font-spiegel-bold);
  --font-spiegel-bold-italic: var(--font-spiegel-bold-italic);

  --font-beaufort-light: var(--font-beaufort-light);
  --font-beaufort-light-italic: var(--font-beaufort-light-italic);
  --font-beaufort-regular: var(--font-beaufort-regular);
  --font-beaufort-regular-italic: var(--font-beaufort-regular-italic);
  --font-beaufort-medium: var(--font-beaufort-medium);
  --font-beaufort-medium-italic: var(--font-beaufort-medium-italic);
  --font-beaufort-bold: var(--font-beaufort-bold);
  --font-beaufort-bold-italic: var(--font-beaufort-bold-italic);
  --font-beaufort-heavy: var(--font-beaufort-heavy);
  --font-beaufort-heavy-italic: var(--font-beaufort-heavy-italic);
}
