@import 'tailwindcss';

@layer base {
  :root {
    --yellow-sun-glow: #e2cf81;
    --yellow-golden-sand: #ddb05d;
    --yellow-harvest-wheat: #c8aa6e;
    --yellow-amber-honey: #c28f2c;
    --yellow-bronze-caramel: #a57a3a;
    --yellow-vintage-mustard: #706547;
    --yellow-burnt-oak: #67471f;

    --white: #ffffff;
    --black: #000000;

    --neutral-50: #f5f5f5;
    --neutral-100: #efefef;
    --neutral-150: #e6e6e6;
    --neutral-200: #dfdfdf;
    --neutral-300: #cecece;
    --neutral-400: #9d9d9d;
    --neutral-500: #6d6d6d;
    --neutral-600: #4c4c4c;
    --neutral-700: #3a3a3a;
    --neutral-750: #2a2a2a;
    --neutral-800: #202020;
    --neutral-900: #111111;
    --neutral-950: #040404;

    --red-base: #ff0000;
    --red-50: #ffe4e4;
    --red-100: #ffd4d4;
    --red-200: #febcbd;
    --red-300: #fb9798;
    --red-400: #f86374;
    --red-500: #f03647;
    --red-600: #e80029;
    --red-700: #c3081f;
    --red-800: #a3071e;
    --red-900: #89171f;
    --red-950: #4f060d;

    --sky-50: #eafeff;
    --sky-100: #daf9ff;
    --sky-200: #b4efff;
    --sky-300: #77dcff;
    --sky-400: #32c8ff;
    --sky-500: #08b0f0;
    --sky-600: #007dd2;
    --sky-700: #00529d;
    --sky-800: #01528c;
    --sky-900: #064362;
    --sky-950: #02383f;

    *,
    *::before,
    *::after {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      /* Creating animations for dark mode. */
      transition:
        background-color 0.3s,
        color 0.3s,
        border 0.3s,
        fill 0.3s;
    }

    *:disabled {
      cursor: not-allowed;
    }

    body {
      width: 100%;
      min-height: 100vh;
      overflow-x: hidden;
    }

    /* TODO (Ky Tran): Set up font family for button and input. */
    button {
      cursor: pointer;
    }

    button,
    input,
    select {
      outline: none;
      border: none;
      background-color: transparent;
    }

    img {
      max-width: 100%;
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    ul {
      list-style: none;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      overflow-wrap: break-word;
    }
  }
}

@theme inline {
  --breakpoint-xxs: 24rem; /* 384px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-mp: 56.25em; /* 900px */
  --breakpoint-lgx: 70rem; /* 1120px */

  --color-yellow-sun-glow: var(--yellow-sun-glow);
  --color-yellow-golden-sand: var(--yellow-golden-sand);
  --color-yellow-harvest-wheat: var(--yellow-harvest-wheat);
  --color-yellow-amber-honey: var(--yellow-amber-honey);
  --color-yellow-bronze-caramel: var(--yellow-bronze-caramel);
  --color-yellow-vintage-mustard: var(--yellow-vintage-mustard);
  --color-yellow-burnt-oak: var(--yellow-burnt-oak);

  --color-white: var(--white);
  --color-black: var(--black);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-150: var(--neutral-150);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-750: var(--neutral-750);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --color-red-base: var(--red-base);
  --color-red-50: var(--red-50);
  --color-red-100: var(--red-100);
  --color-red-200: var(--red-200);
  --color-red-300: var(--red-300);
  --color-red-400: var(--red-400);
  --color-red-500: var(--red-500);
  --color-red-600: var(--red-600);
  --color-red-700: var(--red-700);
  --color-red-800: var(--red-800);
  --color-red-900: var(--red-900);
  --color-red-950: var(--red-950);

  --color-sky-50: var(--sky-50);
  --color-sky-100: var(--sky-100);
  --color-sky-200: var(--sky-200);
  --color-sky-300: var(--sky-300);
  --color-sky-400: var(--sky-400);
  --color-sky-500: var(--sky-500);
  --color-sky-600: var(--sky-600);
  --color-sky-700: var(--sky-700);
  --color-sky-800: var(--sky-800);
  --color-sky-900: var(--sky-900);
  --color-sky-950: var(--sky-950);

  --font-inter: var(--font-inter);

  --font-riot-regular: var(--font-riot-regular);
  --font-riot-italic: var(--font-riot-italic);
  --font-riot-bold: var(--font-riot-bold);
  --font-riot-bold-italic: var(--font-riot-bold-italic);
  --font-riot-sans-bold: var(--font-riot-sans-bold);

  --font-spiegel-regular: var(--font-spiegel-regular);
  --font-spiegel-regular-italic: var(--font-spiegel-regular-italic);
  --font-spiegel-semibold: var(--font-spiegel-semibold);
  --font-spiegel-semibold-italic: var(--font-spiegel-semibold-italic);
  --font-spiegel-bold: var(--font-spiegel-bold);
  --font-spiegel-bold-italic: var(--font-spiegel-bold-italic);

  --font-beaufort-light: var(--font-beaufort-light);
  --font-beaufort-light-italic: var(--font-beaufort-light-italic);
  --font-beaufort-regular: var(--font-beaufort-regular);
  --font-beaufort-regular-italic: var(--font-beaufort-regular-italic);
  --font-beaufort-medium: var(--font-beaufort-medium);
  --font-beaufort-medium-italic: var(--font-beaufort-medium-italic);
  --font-beaufort-bold: var(--font-beaufort-bold);
  --font-beaufort-bold-italic: var(--font-beaufort-bold-italic);
  --font-beaufort-heavy: var(--font-beaufort-heavy);
  --font-beaufort-heavy-italic: var(--font-beaufort-heavy-italic);

  --font-mark-pro-bold: var(--font-mark-pro-bold);

  --spacing-8xl: 84.5rem;
}

@layer utilities {
  .navigation-loading-bg-night {
    background: linear-gradient(90deg, rgb(13, 13, 13) 0%, rgb(232, 0, 41) 20%, rgb(13, 13, 13) 40%);
    background-size: 100%;
  }

  .navigation-loading-bg-dawn {
    background: linear-gradient(90deg, rgb(13, 13, 13) 0%, rgb(0, 125, 210) 20%, rgb(13, 13, 13) 40%);
    background-size: 100%;
  }

  .navigation-loading-bg-run {
    background-size: 200% 100%;
    animation: loading-run 5s linear infinite;
  }

  .hero-image-clip-path {
    clip-path: polygon(10% 100%, 0px 30%, 15% 0px, 100% 0px, 100% 100%);
  }

  @media screen and (min-width: 48rem) {
    .hero-image-clip-path {
      clip-path: polygon(15% 100%, 0px 30%, 25% 0px, 100% 0px, 100% 100%);
    }
  }

  .hero-image-overlay-bg {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 80%);
  }

  .learning-item-clip-path {
    clip-path: polygon(0px 0px, 100% 0px, 82% 100%, 0% 100%);
  }

  .learning-journey-clip-path {
    clip-path: polygon(18% 0px, 100% 0px, 100% 100%, 0% 100%);
  }

  .learning-item-bg-hover:hover {
    background: linear-gradient(90deg, rgb(232, 0, 41) 5%, rgb(235, 235, 235) 95%);
  }

  .learning-item-bg-dawn-hover:hover {
    background: linear-gradient(90deg, rgb(0, 125, 210) 5%, rgb(235, 235, 235) 95%);
  }

  .technologies-overview-clip-path {
    clip-path: polygon(15% 0px, 100% 0px, 85% 100%, 0% 100%);
  }

  .technologies-overview-full-site-clip-path {
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }

  .technologies-overview-bg {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 90%);
  }

  .personal-statement-line-transition {
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  }

  .not-found-page-height {
    height: calc(100vh - 520px);
    min-height: 672px;
  }
}

@keyframes loading-run {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: -226% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* https://codepen.io/goodkatz/pen/LYPGxQz?editors=1100 */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
