@import "tailwindcss";

@layer base {
  .dark {
    --white: #000000;
    --black: #ffffff;
  }

  :root {
    --white: #ffffff;
    --black: #000000;
  }
}

@theme inline {
  --color-white: var(--white);
  --color-black: var(--black);

  --font-riot-regular: var(--font-riot-regular);
  --font-riot-italic: var(--font-riot-italic);
  --font-riot-bold: var(--font-riot-bold);
  --font-riot-bold-italic: var(--font-riot-bold-italic);

  --font-spiegel-regular: var(--font-spiegel-regular);
  --font-spiegel-regular-italic: var(--font-spiegel-regular-italic);
  --font-spiegel-semibold: var(--font-spiegel-semibold);
  --font-spiegel-semibold-italic: var(--font-spiegel-semibold-italic);
  --font-spiegel-bold: var(--font-spiegel-bold);
  --font-spiegel-bold-italic: var(--font-spiegel-bold-italic);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* Creating animations for dark mode. */
  transition: background-color 0.3s, border 0.3s;
}

*:disabled {
  cursor: not-allowed;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* TODO (Ky Tran): Set up font family for button and input. */
button {
  cursor: pointer;
}

button, input, select {
  outline: none;
  border: none;
  background-color: transparent;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
